<%- include('partials/headerunlogged') %>

<section id="hero">
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Start your workout journey</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Start tracking your workouts today! Tracking your workouts is crucial for progressive overloading. Each time you perform an exercise, you have to be stronger than before, and what better way to make sure of that than tracking? 
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a id ="register" type="button" class="btn btn-primary btn-lg px-4 me-sm-3"
        href="/register" >Get Started</a>
        <a id ="login"type="button" class="btn btn-outline-secondary btn-lg px-4"
        href="/login" >Login</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 70vh;">
      <div class="container px-5">
        <img src="images/img3.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" width="1000"
          height="500" loading="lazy">
      </div>
    </div>
  </div> 
</section>
  
<section id="features">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Why would you join?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="images/img4.jpg" alt="briefcase" height="70">
        </div>
        <h3 class="fs-2">Workouts</h3>
        <p>You can track every workout and exercise, making sure you are always getting stronger! Progressive overload is one of the most important factors when it comes to building muslce. </p>
          
        </a>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="images/img5.jpg" alt="bus-front" height="70">
        </div>
        <h3 class="fs-2">Nutrition</h3>
        <p>We all know how poisoned this world is with bad food. Learn how to eat right and count your macronutrients, and start seeing those 6-packs unfolding!</p>
        </a>
      </div>
      <div class="feature col">
        <div
          class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="images/img6.jpg" alt="chat-square-heart" height="70">
        </div>
        <h3 class="fs-2">Customisable</h3>
        <p>Here, on WorkoutWonder you are able to choose your own way of training and eating, while still seeing results. Customise your plans according to your own needs!</p>
      </div>
    </div>
  </div>
</section>
  
<!--<section id="carousel">
  <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./couple.jpg" class="d-block w-100" alt="couple">
        </div>
        <div class="carousel-item">
          <img src="./dog.jpg" class="d-block w-100" alt="dog">
        </div>
        <div class="carousel-item">
          <img src="./family.jpg" class="d-block w-100" alt="family">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>-->
  

<%- include('partials/footer') %>